:root {
  --bg: #282c34;
  --header: #fff;
  --link: rgb(128, 32, 32);
  --text: hsla(0, 0%, 100%, 0.88);
}

.header {
  padding: 0;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.headertitle {
  font-size: 48px;
  color: rgb(128, 32, 32)
}