:root {
  --bg: #282c34;
  --header: #fff;
  --link: rgb(128, 32, 32);
  --text: hsla(0, 0%, 100%, 0.88);
}

.card {
  text-align: center;
  color: rgb(128, 32, 32);
  border: grey solid 1px;
  padding: 1rem;
  width: auto;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px rgb(128, 32, 32);
}

.header {
  padding: 0;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.headertitle {
  font-size: 48px;
  color: rgb(128, 32, 32);
}

.navbar, .navbutton, .navlogin {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  }

.navbutton > a, .navlogin > a, .navbar > a {
  display: inline-block;
  box-sizing: border-box;
  width: fit-content;
  padding: 5px;
  margin: 6px 6px 6px;
  background: rgb(128, 32, 32);
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  }

a.active {
  background: black;
  color: white;
}

form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input,
select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(128, 32, 32);
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

input.input-error,
select.input-error {
  border-color: #ee6666;
}

.error {
  color: #ee6666;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

button {
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: rgb(128, 32, 32);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer; 
}

button:disabled {
  opacity: 0.35;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  padding: 0;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.headertitle {
  font-size: 48px;
  color: rgb(128, 32, 32);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.types-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  row-gap: 0em;
}

.pokemon-entry {
  margin-bottom: 1em;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
}

.close-button {
  margin-bottom: 16px;
}

.filter-sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-sort-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.filter-card, .sort-card, .search-card {
  flex: 1;
  max-width: 300px;
  margin-bottom: 20px;
}

.filter-sort-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
}

.sort-option {
  display: block; 
  margin: 5px 0;
  position: relative;
  padding-left: 15px; 
}

.sort-option input[type="radio"] {
  position: absolute;
  left: 0;
  top: 50%; 
  transform: translateY(-50%); 
}

.type-bug {
  background-color: #94BC4A;
  color:white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-dark {
  background-color: #736c75;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-dragon {
  background-color: #6a7baf;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-electric {
  background-color: #e5c531;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-fairy {
  background-color: #e397d1;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-fighting {
  background-color: #cb5f48;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-fire {
  background-color: #ea7a3c;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-flying {
  background-color: #7da6de;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-ghost {
  background-color: #846ab6;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-grass {
  background-color: #71c558;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-ground {
  background-color: #cc9f4f;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-ice {
  background-color: #70cbd4;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-normal {
  background-color: #A8A878;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-poison {
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  background-color: #b468b7;
  color: white;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-psychic {
  background-color: #e5709b;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-rock {
  background-color: #b2a061;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-steel {
  background-color: #89a1b0;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-water {
  background-color: #539ae2;
  color: white;
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
}

.type-none {
  margin: 1rem 0;
  padding: 0.25rem 0.35rem;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid black;
}